{% extends 'base.html.twig' %}

{% block title %}Joueur Age Statistics{% endblock %}

{% block body %}
<h1>Joueur Statistics</h1>


<div style="width: 450px; height: 450px;">
  <canvas id="agePieChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('agePieChart').getContext('2d');
const agePieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Young (15-23)', 'Middle Age (24-30)', 'Old (31-50)'],
        datasets: [{
            data: [{{ youngCount }}, {{ middleAgeCount }}, {{ oldCount }}],
            backgroundColor: ['#36a2eb', '#ffcd56', '#ff6384'],
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
            },
        },
    },
});
</script>

<a href="{{ path('app_joueur_index') }}" class="btn btn-secondary">Back to List</a>
{% endblock %}
