{% extends 'base2.html.twig' %}

{% block title %}Live scores{% endblock %}
{% block body %}
    <h1>Oops! An error occurred.</h1>
    <p>{{ errorMessage }}</p>

    <p><a href="/">Go back to Home Page</a></p>
</body>
</html>
{% endblock %}
