{# templates/order/not_found.html.twig #}



{% block title %}Order Not Found{% endblock %}

{% block body %}
    <div class="container">
        <h1>Order Not Found</h1>
        <p>We're sorry, but the order you're looking for cannot be found.</p>
        <a href="" class="btn btn-primary">Return to Home</a>
    </div>
{% endblock %}
